<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUserLoggedIn" style="color: wheat">Welcome Back {{model.username}}</a>
      </li>
    
    </ul>
    <form *ngIf="!isUserLoggedIn" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="username" [(ngModel)]="model.username"
        placeholder="Username" aria-label="Username">
      <input class="form-control mr-sm-2" type="text" name="password" [(ngModel)]="model.password"
        placeholder="Password" aria-label="Password">
    </form>
    <div>
      <button *ngIf="!isUserLoggedIn" class="btn btn-outline-success my-2 my-sm-0" (click)="login()"
        type="button">Login</button>
      <button *ngIf="isUserLoggedIn" class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()"
        type="button">LogOut</button>
    </div>
  </div>
</nav>