<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <div class="container">
    <a class="navbar-brand" href="">Dating App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto" *ngIf="isUserLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['home']" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['matches']" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" [routerLink]="['links']" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['messages']" routerLinkActive="active">Messages</a>
        </li>

      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!isUserLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['register']" routerLinkActive="active">Register</a>
        </li>
      </ul>
      <form *ngIf="!isUserLoggedIn" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="username" [(ngModel)]="model.username"
          placeholder="Username" aria-label="Username">
        <input class="form-control mr-sm-2" type="password" name="password" [(ngModel)]="model.password"
          placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()" type="button">Login</button>
      </form>
      <div *ngIf="isUserLoggedIn" class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Welcome {{userName|titlecase}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item" (click)="logOut()">LogOut</a>
        </div>
      </div>
    </div>
  </div>
</nav>